<!-- Parte do Banner -->
<div class="section light-green darken-1 no-pad-bot z-depth-1 start-splash-section">
  <div class="container start-splash-container">

    <div class="col s12 l6">
      <div class="splash-image-container">
        <h1>Nosso Banner Aqui</h1>
        <a class="brand-logo"><img src="./assets/escudo.png"></a>
      </div>
    </div>
  </div>
</div>


<!-- Parte Corpo Principal! -->

<div class="section white" id="features">

  <div class="container">


    <div class="row">

      <h3>Acompanhamento de Matrícula</h3>

      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src="./assets/tela.png">
            <br>
            <br>
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>


      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src="./assets/tela.png">
            <br>
            <br>
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>


      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src="./assets/tela.png">
            <br>
            <br>
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>


      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src="./assets/tela.png">
            <br>
            <br>
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <ul class="collapsible" data-collapsible="accordion"></ul>
          </div>
        </div>
      </div>


      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>


    </div>



  </div>

</div>





<!-- Parte Painel de Ajuda ao usuario -->

<div class="section  grey lighten-3" id="support">

  <div class="container">

    <div class="row">

      <div class="col s12 m6">
        <h5 class="font-config-aten">Atenção!</h5>
        <p class="start-paragraph-text">Em caso de duvidas ou Erros:</p>
        <ul style="margin-bottom: 16px;padding-left: 16px;">
          <li style="margin: 14px 0;padding: 0;list-style: initial;font-size:14px;">
            Está com duvidas sobre as escolas ou matriculas <a routerLink="/help" class="acesso-font"> Click Aqui e Tire Suas Duvidas!</a>
          </li>
          <li style="margin: 14px 0;padding: 0;list-style: initial;font-size:14px;">
            Encontrou algum erro report <a href="" class="acesso-font"> Clickando Aqui!</a>
          </li>
          <li style="margin: 14px 0;padding: 0;list-style: initial;font-size:14px;">
            Deixe seu email para receber informações!
          </li>
          <div class="row">
            <div class="input-field col s7">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
            <a class="waves-effect waves-light btn env-config-email light-green darken-2"><i class="material-icons right">email</i>Enviar</a>
          </div>
        </ul>

      </div>

      <div class="col s6 offset-s3 m6 center">
        <img class="responsive-aten" src="./assets/aten.png">
      </div>

    </div>

  </div>

</div>
