<div class="navbar-fixed">
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a routerLink="/acompanhamento">Acompanhamento</a></li>
  <li><a routerLink="/map">Matricula</a></li>
  <li class="divider"></li>
</ul>

<nav class="nav-hearde light-green darken-2">
  <div class="container nav-wrapper">
     <a  class="brand-logo"><img src="./assets/logo.png"></a>
      <label class="font-logo">S.E.M.D.F</label>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/"><i class="material-icons left">home</i>Home</a></li>
      <li><a href="#!"><i class="material-icons left">question_answer</i>Duvidas</a></li>
      <li><a href="#!"><i class="material-icons left">contacts</i>Contato</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button"  data-activates="dropdown1"><i class="material-icons left">school</i>Escolas<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
       </div>
