
  <nav class="nav-hearde light-green darken-2">
    <div class=" container nav-wrapper">
      <a href="#" class="brand-logo"><img src="./assets/logo.png"></a>
      <label class="font-logo">S.E.M.D.F</label>
      <ul class="right hide-on-med-and-down">
        <li><a data-toggle="modal" data-target="#modal1">Login</a></li>
        <li><a data-target="modal1">Cadastre-se</a></li>
      </ul>
      <ul  class="ul-menu right hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html">Escolas</a></li>
        <li><a href="collapsible.html">Duvidas</a></li>
        <li><a href="collapsible.html">Contato</a></li>
      </ul>
    </div>
  </nav>


    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
