.white-text {
  font-weight: 300;
}

.footer-copyright {
  background-color: #649738 !important;
  overflow: hidden;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: rgba(255,255,255,0.8);
}


.text-sub {
  font-weight: 300;
    color: white;
}
