<nav class="nav-extended">
<div class="nav-content light-green darken-3">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="#novosDados">Atualização de dados</a></li>
        <li class="tab"><a href="#matSolicitadas">Matrículas solicitadas</a></li>
      </ul>
    </div>
  </nav>
  <br>
  <!-- Atualizacao de dados -->
    <div id="novosDados" class="col s12">
<div class="container">
      <!-- Modal -->
      <div id="modalEscola" class="modal" materialize="modal">
  <div class="modal-content">
    <h4>Nome da escola</h4>
    <p>Dados da escola</p>
  </div>
  <div class="modal-footer">
    <a class="btn-flat waves-effect waves-red modal-close">Close</a>
    <a class="btn-flat waves-effect waves-green modal-action">Agree</a>
  </div>
</div>

<!-- table -->
    <table class="responsive-table centered striped">
      <thead>
        <tr>
          <th class="col s2">Código SEEC</th>
          <th class="col s3">Nome da Escola</th>
          <th class="col s1">Endereço</th>
          <th class="col s1">Quantidade de vagas</th>
          <th class="col s2">Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>1300752</td>
          <td>Escola Teste</td>
          <td>Rua Teste</td>
          <td>500</td>
          <td>
            <a class="waves-effect waves-light  modal-trigger" data-target="modalEscola"><i class="Tiny material-icons">search</i></a>
            <a class="waves-effect waves-light  modal-trigger" data-target="modalEscola"><i class="Tiny material-icons btnRemove">remove_circle</i></a>
          </td>
        </tr>
        <tr>
          <td>1300752</td>
          <td>Escola Teste</td>
          <td>Rua Teste</td>
          <td>500</td>
          <td>
            <a class="waves-effect waves-light  modal-trigger" data-target="modalEscola"><i class="Tiny material-icons">search</i></a>
            <a class="waves-effect waves-light  modal-trigger" data-target="modalEscola"><i class="Tiny material-icons btnRemove">remove_circle</i></a>
          </td>
        </tr>
        <tr>
          <td>1300752</td>
          <td>Escola Teste</td>
          <td>Rua Teste</td>
          <td>500</td>
          <td>
            <a class="waves-effect waves-light  modal-trigger" data-target="modalEscola"><i class="Tiny material-icons">search</i></a>
            <a class="waves-effect waves-light  modal-trigger" data-target="modalEscola"><i class="Tiny material-icons btnRemove">remove_circle</i></a>
          </td>
        </tr>
        <tr>
          <td>1300752</td>
          <td>Escola Teste</td>
          <td>Rua Teste</td>
          <td>500</td>
          <td>
            <a class="waves-effect waves-light  modal-trigger" data-target="modalEscola"><i class="Tiny material-icons">search</i></a>
            <a class="waves-effect waves-light  modal-trigger" data-target="modalEscola"><i class="Tiny material-icons btnRemove">remove_circle</i></a>
          </td>
        </tr>
        <tr>
          <td>1300752</td>
          <td>Escola Teste</td>
          <td>Rua Teste</td>
          <td>500</td>
          <td>
            <a class="waves-effect waves-light  modal-trigger" data-target="modalEscola"><i class="Tiny material-icons">search</i></a>
            <a class="waves-effect waves-light  modal-trigger" data-target="modalEscola"><i class="Tiny material-icons btnRemove">remove_circle</i></a>
          </td>
        </tr>
        <tr>
          <td>1300752</td>
          <td>Escola Teste</td>
          <td>Rua Teste</td>
          <td>500</td>
          <td>
            <a class="waves-effect waves-light  modal-trigger" data-target="modalEscola"><i class="Tiny material-icons">search</i></a>
            <a class="waves-effect waves-light  modal-trigger" data-target="modalEscola"><i class="Tiny material-icons btnRemove">remove_circle</i></a>
          </td>
        </tr>
        <tr>
          <td>1300752</td>
          <td>Escola Teste</td>
          <td>Rua Teste</td>
          <td>500</td>
          <td>
            <a class="waves-effect waves-light  modal-trigger" data-target="modalEscola"><i class="Tiny material-icons">search</i></a>
            <a class="waves-effect waves-light  modal-trigger" data-target="modalEscola"><i class="Tiny material-icons btnRemove">remove_circle</i></a>
          </td>
        </tr>
        <tr>
          <td>1300752</td>
          <td>Escola Teste</td>
          <td>Rua Teste</td>
          <td>500</td>
          <td>
            <a class="waves-effect waves-light  modal-trigger" data-target="modalEscola"><i class="Tiny material-icons">search</i></a>
            <a class="waves-effect waves-light  modal-trigger" data-target="modalEscola"><i class="Tiny material-icons btnRemove">remove_circle</i></a>
          </td>
        </tr>
        <tr>
          <td>1300752</td>
          <td>Escola Teste</td>
          <td>Rua Teste</td>
          <td>500</td>
          <td>
            <a class="waves-effect waves-light  modal-trigger" data-target="modalEscola"><i class="Tiny material-icons">search</i></a>
            <a class="waves-effect waves-light  modal-trigger" data-target="modalEscola"><i class="Tiny material-icons btnRemove">remove_circle</i></a>
          </td>
        </tr>

      </tbody>
    </table>
    </div>
    </div>
      <div id="matSolicitadas" class="col s12">
        <div class="container">
              <!-- Modal -->
              <div id="modalSolicitacao" class="modal" materialize="modal">
          <div class="modal-content">
            <h4>Código da solicitação</h4>
            <p>Dados da solicitação</p>
          </div>
          <div class="modal-footer">
            <a class="btn-flat waves-effect waves-red modal-close">Close</a>
            <a class="btn-flat waves-effect waves-green modal-action">Agree</a>
          </div>
        </div>

        <!-- table -->
            <table class="responsive-table centered striped">
              <thead>
                <tr>
                  <th class="col s2">Código da solicitação</th>
                  <th class="col s3">Data da solicitação</th>
                  <th class="col s1">Nome do responsável</th>
                  <th class="col s1">Escola escolhida</th>
                  <th class="col s2">Ações</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>00001</td>
                  <td>10/10/2010</td>
                  <td>Teste Testando da Silva</td>
                  <td>Escola Teste</td>
                  <td>
                    <a class="waves-effect waves-light  modal-trigger" data-target="modalSolicitacao"><i class="Tiny material-icons">search</i></a>
                    <a class="waves-effect waves-light  modal-trigger" data-target="modalSolicitacao"><i class="Tiny material-icons btnRemove">remove_circle</i></a>
                  </td>
                </tr>
                <tr>
                  <td>00001</td>
                  <td>10/10/2010</td>
                  <td>Teste Testando da Silva</td>
                  <td>Escola Teste</td>
                  <td>
                    <a class="waves-effect waves-light  modal-trigger" data-target="modalSolicitacao"><i class="Tiny material-icons">search</i></a>
                    <a class="waves-effect waves-light  modal-trigger" data-target="modalSolicitacao"><i class="Tiny material-icons btnRemove">remove_circle</i></a>
                  </td>
                </tr>
                <tr>
                  <td>00001</td>
                  <td>10/10/2010</td>
                  <td>Teste Testando da Silva</td>
                  <td>Escola Teste</td>
                  <td>
                    <a class="waves-effect waves-light  modal-trigger" data-target="modalSolicitacao"><i class="Tiny material-icons">search</i></a>
                    <a class="waves-effect waves-light  modal-trigger" data-target="modalSolicitacao"><i class="Tiny material-icons btnRemove">remove_circle</i></a>
                  </td>
                </tr>
                <tr>
                  <td>00001</td>
                  <td>10/10/2010</td>
                  <td>Teste Testando da Silva</td>
                  <td>Escola Teste</td>
                  <td>
                    <a class="waves-effect waves-light  modal-trigger" data-target="modalSolicitacao"><i class="Tiny material-icons">search</i></a>
                    <a class="waves-effect waves-light  modal-trigger" data-target="modalSolicitacao"><i class="Tiny material-icons btnRemove">remove_circle</i></a>
                  </td>
                </tr>
                <tr>
                  <td>00001</td>
                  <td>10/10/2010</td>
                  <td>Teste Testando da Silva</td>
                  <td>Escola Teste</td>
                  <td>
                    <a class="waves-effect waves-light  modal-trigger" data-target="modalSolicitacao"><i class="Tiny material-icons">search</i></a>
                    <a class="waves-effect waves-light  modal-trigger" data-target="modalSolicitacao"><i class="Tiny material-icons btnRemove">remove_circle</i></a>
                  </td>
                </tr>
                <tr>
                  <td>00001</td>
                  <td>10/10/2010</td>
                  <td>Teste Testando da Silva</td>
                  <td>Escola Teste</td>
                  <td>
                    <a class="waves-effect waves-light  modal-trigger" data-target="modalSolicitacao"><i class="Tiny material-icons">search</i></a>
                    <a class="waves-effect waves-light  modal-trigger" data-target="modalSolicitacao"><i class="Tiny material-icons btnRemove">remove_circle</i></a>
                  </td>
                </tr>
                <tr>
                  <td>00001</td>
                  <td>10/10/2010</td>
                  <td>Teste Testando da Silva</td>
                  <td>Escola Teste</td>
                  <td>
                    <a class="waves-effect waves-light  modal-trigger" data-target="modalSolicitacao"><i class="Tiny material-icons">search</i></a>
                    <a class="waves-effect waves-light  modal-trigger" data-target="modalSolicitacao"><i class="Tiny material-icons btnRemove">remove_circle</i></a>
                  </td>
                </tr>
                <tr>
                  <td>00001</td>
                  <td>10/10/2010</td>
                  <td>Teste Testando da Silva</td>
                  <td>Escola Teste</td>
                  <td>
                    <a class="waves-effect waves-light  modal-trigger" data-target="modalSolicitacao"><i class="Tiny material-icons">search</i></a>
                    <a class="waves-effect waves-light  modal-trigger" data-target="modalSolicitacao"><i class="Tiny material-icons btnRemove">remove_circle</i></a>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
      </div>
      <br>
