<!-- Parte do Banner -->
<div class="section light-green darken-1 no-pad-bot z-depth-1 start-splash-section">
  <div class="container start-splash-container">

    <div class="col s12 l6">
      <div class="splash-image-container">
        <h1>Nosso Banner Aqui</h1>
        <a class="brand-logo"><img src="./assets/escudo.png"></a>
      </div>
    </div>
  </div>
</div>


<!-- Parte Corpo Principal! -->

<div class="section white" id="features">

  <div class="container">

    <div class="row">

      <div class="col s12 m6">
        <h5 class="start text-primarycolor">Features</h5>
        <p class="start-paragraph-text text-primarycolor">We provide a FREE and a PRO version, the free version has a limited number of functions but can be used as a fully functional demo by enabling the demo setting.</p>
        <ul class="start-feature-list">
          <li>Password <a href="https://kioskbrowser.userecho.com/topic/882871-how-do-i-exit/" target="_blank">protected settings</a> &amp; <a href="https://kioskbrowser.userecho.com/topic/910492-wifi-settings-password/" target="_blank">WiFi settings</a></li>
          <li>Lock your device(s) to a single URL</li>
          <li>Configure <a href="https://kioskbrowser.userecho.com/topics/2311-toolbar-buttons-their-functions/" target="_blank">toolbar buttons</a></li>
          <li>Control clearing of <a href="https://kioskbrowser.userecho.com/topics/2312-clear-cache-webstorage-cookies-form-data/" target="_blank">cache, cookies, history &amp; web storage</a></li>
          <li>Provide access to additional websites with the <a href="https://kioskbrowser.userecho.com/topics/649-bookmarks-bar/" target="_blank">bookmarks bar</a></li>
          <li><a href="https://kioskbrowser.userecho.com/topic/882708-whitelist/" target="_blank">Whitelist</a> &amp; <a href="https://kioskbrowser.userecho.com/topics/901-blacklist/" target="_blank">Blacklist</a> feature to control website access</li>
          <li><a href="https://kioskbrowser.userecho.com/topic/921165-scheduled-sleepwake/" target="_blank">Scheduled sleep/wake/app restart</a></li>
          <li><a href="https://kioskbrowser.userecho.com/topics/141-pdf-support/" target="_blank">PDF Support</a></li>
          <li>Automatic crash recovery</li>
        </ul>
      </div>

      <div class="col s6 offset-s3 m6 center" style="">
        <img class="responsive-caderno" src="../assets/caderno01.png">
      </div>

    </div>

    <div class="row">
      <div class="col s12 m6 center hide-on-small-and-down">
        <img class="responsive-caneta" src="../assets/mochila.png">
      </div>

      <div class="col s12 m6">
        <h5 class="start text-primarycolor">Customise</h5>
        <ul class="start-feature-list">
          <li>Choice of <a href="https://kioskbrowser.userecho.com/topic/882681-themes/" target="_blank">10 themes</a></li>
          <li>Display your logo in the toolbar</li>
          <li>Use your brandname as the app title</li>
          <li>Brand the <a href="https://kioskbrowser.userecho.com/topic/905825-custom-error-access-denied-pages/" target=" _blank">error &amp; access denied pages</a></li>
          <li>Display an image/video/website <a href="https://kioskbrowser.userecho.com/topic/882581-screensaver/" target="_blank">screensaver</a> whilst the device is idle</li>
          <li><a href="https://kioskbrowser.userecho.com/topics/2306-full-screen-mode-hiding-the-toolbar/" target="_blank">Control visibility of toolbar and system bar</a></li>
        </ul>
        <p class="start-paragraph-text text-primarycolor">We also offer a branding facility/customisation service.</p>
        <p><a href="#custom">GET MORE INFO</a></p>
      </div>

      <div class="col s6 offset-s3 m6 center hide-on-med-and-up">
        <img class="responsive-img" src="../assets/mochila.png">
      </div>

    </div>

    <div class="row" id="features-advanced">

      <div class="col s12 m6">
        <h5 class="start text-primarycolor">Advanced</h5>
        <p class="start-paragraph-text text-primarycolor">Kiosk Browser has a number of advanced features.</p>
        <ul class="start-feature-list">
          <li><a href="https://kioskbrowser.userecho.com/topic/878500-barcode-scanning/" target="blank">Barcode Scanner</a></li>
          <li><a href="https://kioskbrowser.userecho.com/topic/922670-nfc/" target="_blank">NFC Reader</a></li>
          <li>Print pages using <a href="https://kioskbrowser.userecho.com/topic/876321-printing-with-google-cloud-print/" target="_blank">Google Cloud Print</a> or to <a href="https://kioskbrowser.userecho.com/topic/1090348-printing-via-bluetooth/" target="_blank">Bluetooth</a>            devices via JavaScript (ESC/POS)</li>
          <li><a href="https://kioskbrowser.userecho.com/topic/1094480-standalone-mode/" target="_blank">Standalone mode</a> (behaves like a normal default browser)</li>
          <li>Powerful <a href="https://kioskbrowser.userecho.com/topic/847040-javascript-functions/" target="_blank">JavaScript interface</a></li>
          <li><a href="https://kioskbrowser.userecho.com/topics/964-app-drawer/" target="_blank">App Drawer</a> to launch other apps</li>
          <li><a href="https://kioskbrowser.userecho.com/topic/1110449-xml-import-export" target="_blank">XML Import &amp; Export</a> for copying settings to multiple devices</li>
          <li>70+ settings to control every aspect of Kiosk Browser</li>
        </ul>

      </div>

      <div class="col s6 offset-s3 m6 center">
        <img class="responsive-trio" src="../assets/trio1.png">
      </div>

    </div>

  </div>

</div>


<!-- Parte Informações Sobre a Inscrição da matricula! -->

<div class="section  grey lighten-3" id="remotemanagement">

  <div class="container">

    <div class="row">

      <div class="col s12 m6 ">
        <h5 class="start text-primarycolor">Informações Sobre a Inscrição da matricula!</h5>
        <p>Kiosk Browser Remote is our subscription based remote management console for Kiosk Browser. It provides central management functions for all your devices.</p>
        <blockquote>
          A subscription costs just £1 GBP / $1.60 USD <strong>per device</strong> <em>per month (volume pricing is available).</em><br> We offer a free 14 day trial with no obligation to subscribe once the trial ends.
        </blockquote>
        <p><span class="text-primarycolor" style="font-weight:500;">PRO</span> features are included in the subscription.</p>

        <div class="center">
          <a class="wistia-popover[height=433,playerColor=7b796a,width=800]waves-effect waves-light btn light-blue darken-3" routerLink="/map">Ir para matricula</a>
          <a class="wistia-popover[height=433,playerColor=7b796a,width=800]waves-effect waves-light btn" routerLink="/acomp">Ir para Acompanhamento</a>
          <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
        </div>

      </div>

      <div class="col s6 offset-s3 m6 center">
        <img class="responsive-img" src="../assets/pc.png">
      </div>

    </div>

  </div>

</div>


<!-- Parte Prints de Tela -->

<div class="section light-green darken-1" id="screenshots">

  <div class="container">

    <h5 class="start white-text">Screenshots</h5>

    <div class="row">

      <div class="col s12 m6">
        <div>

          <div class="material-placeholder"><img src="https://www.android-kiosk.com/wp-content/themes/androidkioskcom/images/screenshots/1.png" class="responsive-img materialboxed z-depth-2 initialized">
          </div>

        </div>

      </div>

      <div class="col s12 m6">

        <div class="row">

          <div class="col s12 m6">
            <div>

              <div class="material-placeholder"><img src="https://www.android-kiosk.com/wp-content/themes/androidkioskcom/images/screenshots/2.png" class="responsive-img materialboxed z-depth-2 initialized">
              </div>

            </div>

          </div>
          <div class="col s12 m6">

            <div>
              <div class="material-placeholder"><img src="https://www.android-kiosk.com/wp-content/themes/androidkioskcom/images/screenshots/3.png" class="responsive-img materialboxed z-depth-2 initialized">
              </div>

            </div>

          </div>

        </div>

        <div class="row">

          <div class="col s12 m6">

            <div>

              <div class="material-placeholder"><img src="https://www.android-kiosk.com/wp-content/themes/androidkioskcom/images/screenshots/4.png" class="responsive-img materialboxed z-depth-2 initialized">
              </div>

            </div>

          </div>

          <div class="col s12 m6">

            <div>

              <div class="material-placeholder"><img src="https://www.android-kiosk.com/wp-content/themes/androidkioskcom/images/screenshots/5.png" class="responsive-img materialboxed z-depth-2 initialized">
              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="col s12">

        <div class="center">

          <a class="waves-effect waves-light btn white text-primarycolor modal-trigger" style="margin-right:10px;margin-bottom: 5px;" href="#modalBuy" onclick="buySingle()"><i class="mdi mdi-credit-card left"></i>Buy Pro</a>
          <!--<a class="waves-effect waves-light btn white text-primarycolor" style="margin-right:10px;margin-bottom: 5px;" href="http://sites.fastspring.com/androidkiosk/product/kioskbrowserpro"><i class="mdi mdi-credit-card left" ></i>Buy Pro</a>-->
          <a class="waves-effect waves-light btn white text-primarycolor" href="https://www.kbremote.net/Home/Start" style="margin-bottom: 5px;"><i class="mdi mdi-television-guide left" style="margin-right:10px;margin-bottom: 5px;"></i>Remote Manage Trial</a>
        </div>

      </div>

    </div>

  </div>

</div>



<!-- Parte Painel de Ajuda ao usuario -->

<div class="section  grey lighten-3" id="support">

  <div class="container">

    <div class="row">

      <div class="col s12 m6">
        <h5 class="font-config-aten">Atenção!</h5>
        <p class="start-paragraph-text">Em caso de duvidas ou Erros:</p>
        <ul style="margin-bottom: 16px;padding-left: 16px;">
          <li style="margin: 14px 0;padding: 0;list-style: initial;font-size:14px;">
            Está com duvidas sobre as escolas ou matriculas <a routerLink="/help" class="acesso-font"> Click Aqui e Tire Suas Duvidas!</a>
          </li>
          <li style="margin: 14px 0;padding: 0;list-style: initial;font-size:14px;">
            Encontrou algum erro report <a href="" class="acesso-font"> Clickando Aqui!</a>
          </li>
          <li style="margin: 14px 0;padding: 0;list-style: initial;font-size:14px;">
            Deixe seu email para receber informações!
          </li>
          <div class="row">
            <div class="input-field col s7">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
            <a class="waves-effect waves-light btn env-config-email light-green darken-2"><i class="material-icons right">email</i>Enviar</a>
          </div>
        </ul>

      </div>

      <div class="col s6 offset-s3 m6 center">
        <img class="responsive-aten" src="./assets/aten.png">
      </div>

    </div>

  </div>

</div>
