.start-splash-section {
  height: 500px;
}


.splash-image-container{margin-left: 30%;
margin-top: 5%;}

.responsive-caderno{
  width: 60%;
}

.responsive-caneta{
  width: 70%;
}

.responsive-trio{
  width: 60%;
}

.responsive-aten{
  width: 50%;
}


.font-config-aten{
  font-weight: bold;
    color: red;
    text-transform: uppercase;
}
.acesso-font{
  font-weight: bold;
    color: red;

}

.env-config-email{
  margin-top: 4%;
}
